.selectDiv{
    text-align: left;
    padding: 10px;
    position: fixed;
    left: 0;
    color: #FFFFFF;
    text-align: left;
  }
.select{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #000;
    background-size: 200%;
    background-image: linear-gradient(to right, #F8F8F8,#F8F8F8);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    cursor: pointer;
}