.mainContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F6F9FC;
    padding: 10px;
  } 
  
  .mainContainer p {
    font-size: 20px;
    font-weight: bold;
    color: #4A4A4A;
    text-decoration: none;
    cursor: pointer;
  }